/*-------------------------- Early formatting --------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1
}

.clearfix {
    content: '.';
    clear: both;
    display: block;
    height: 0;

}

/*-------------------------- Reusable component --------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;

}

section {
    padding: 80px 0;
    background-size: cover;
}

a:link,
a:visited {
    color: #d1d1d1;
    text-decoration: none;
}

a:hover {
    color: #0f4c75;
}

.btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    padding: 6px 20px;
    font-weight: 700;
    background: #0f4c75;
    border: 1px solid #d1d1d1;
    color: #d1d1d1;
    margin-right: 15px;

}


.btn:hover,
.btn:active {
    color: #0f4c75;
    background: #d1d1d1;
    border: 1px solid #0f4c75;

}

/*-------------------------- Headings --------------------------*/

h1 {
    font-size: 50px;
    font-weight: 500;
}

p {
    padding: 5px 0px;
    font-size: 19px;
    font-weight: 100;
    color: #dddddd;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #3282b8;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.box {
    padding: 1%;
}



/*-------------------------- Navigation  ---------------------*/


.nav-name {
    font-family: 'Caveat', cursive;
    font-size: 55px;
    list-style: none;
    display: inline-block;
    padding: 30px 85px;
    color: #fff;
    border-bottom: 2px;
}

.nav-menu {
    float: right;
    list-style: none;
    margin-top: 55px;
    margin-right: 35px;
}

.nav-menu li {
    display: inline-block;
    margin-left: 40px;

}

.nav-menu li a:link,
.nav-menu li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.nav-menu li a:hover,
.nav-menu li a:active {
    border-bottom: 2px solid #bbe1fa;
}


/*-------------------------- Header --------------------------*/



header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/header-background.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}



.header-text {
    color: #fff;
    position: absolute;
    width: 1240px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.header-bio {
    padding: 15px 650px 12px 0px;
}


/*-------------------------- About Me --------------------------*/

.profile-pic {
    padding: 10px;
    margin: 10px;
    width: 30%;
    float: left;
}


.aboutme-data {
    padding: 20px 20px;
    text-align: justify;
    text-justify: inter-word;
    display: flex;
    color: #0f4c75;
}

.aboutme-btn {
    margin-left: 15px;
    margin-top: 10px;
}

/*-------------------------- Education --------------------------*/

.section-EE {
    margin: 10px 100px;
}

.card img {
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.card:first-child {
    margin-left: 80px;
    margin-right: 100px;
}

.card:last-child {
    margin-right: 80px;
    margin-left: 100px;
}

.card {
    margin: 80px 0px;
    background: #dce5eb;
    display: inline-block;
    float: left;
    width: 21%;
    border: 0px solid black;
    border-radius: 15px;

}

.EE-info {
    padding: 10px;
}

.EE-info h3 {
    text-align: center;
    text-transform: uppercase;
    color: #0f3f5f
}

.card p {
    color: #1c3848;
}

/*-------------------------- Skills --------------------------*/



.skill-menu {
    width: 20%;
    margin-left: 120px;
    margin-top: 65px;
    margin-bottom: 100px;
    margin-right: 10px;
    color: #0f3f5f;
    float: left;
}

.skill-text:first-child {
    margin-top: 50px;
}

.skill-text:last-child {
    margin-bottom: 50px;
}

.skill-text {
    text-align: center;
    font-size: 25px;
    list-style: none;
    padding: 5px;
}

.skill-text:hover {

    background: rgba(50, 130, 184, 0.4);
    border-radius: 5px;
}

.skill-bio {
    background-color: rgba(221, 213, 213, 0.31);
    border-radius: 40px;
    margin-top: 50px;
    padding: 105px;
    display: inline-block;
    float: flex;
    width: 60%;
}

/*-------------------------- Projects --------------------------*/

.project-container {
    display: flex;
    margin: 80px;
    flex-direction: row;
    justify-content: space-around
}

.project-card {
    padding: 30px;
    width: 300px;
    height: 250px;
    border-radius: 4%;
    background: #0f3f5f;
}

.project-card-title {
    font-size: 25px;
    color: rgba(198, 162, 44, 0.89);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px;
    margin-bottom: 10px
}

.project-card-desc p {
    text-align: justify;
    font-weight: 300;
    font-size: 16px;
    padding: 5px;
}

/*-------------------------- Projects --------------------------*/

.section-contact {}

.container-contact {
    border: 2px solid #0f4c75;
    display: flex;
    margin: 120px;
    flex-direction: row;
    justify-content: space-around
}


.container-contact-left {
    padding: 40px 30px 30px 40px;
    flex-direction: column;
    width: 70%;
    flex-direction: row;
    justify-content: space-around;
}

.container-contact-left h3 {
    color: #0f4c75;
    font-size: 26px;
    margin-bottom: 25px;
}

.container-contact-form label {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
}

input,
textarea {
    width: 500px;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
}


textarea {
    height: 100px;
    padding-top: 10px;
}

.container-contact-form .btn {
    width: 100px;
    margin-top: 10px;
}

.container-contact-right {
    padding: 40px 30px 30px 40px;
    background: #0f4c75;
    flex-direction: column;
    width: 30%;
    flex-direction: row;
    justify-content: space-around
}

.container-contact-right h3 {
    font-size: 26px;
    color: rgba(198, 162, 44, 0.89);
}

.contact-info {
    margin-top: 40px;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}
