/******************* Iphone 6, 7, 8 + *******************/

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}


/******************* Galxy S5 *******************/

@media only screen and (min-device-width: 300px) and (max-device-width: 640px) {

    /*      ---------- Navigation ---------- */

    .nav-scroll {
        margin: 0px;
        padding: 0px;
        top: 0%;
    }

    .nav-scroll .nav-menu {
        display: none;
    }

    .nav-scroll .nav-name {
        font-size: 55px;
        display: block;
        text-align: center;
        padding: 0px;
        float: none;
    }

    /*      ---------- Header ---------- */

    .nav-name {
        font-size: 50px;
        padding: 10px;
        padding-top: 20px;
        margin-top: 0px;
        display: block;
        text-align: center;
    }

    .nav-menu {
        display: block;
        text-align: center;
        font-size: 13px;
        float: none;
        margin: 0px;
        margin-top: 15px;
    }

    .nav-menu li {
        display: inline-flex;
        flex-flow: row;
        justify-content: space-between;
        flex-direction: row;
        margin-left: 10px;
    }

    header {
        margin: 0px;
        height: 70vh;
    }

    .header-text {
        color: rgb(255, 255, 255);
        font-size: 20px;
        display: block;
        text-align: center;
        width: 100%;
        left: 0%;
        transform: translate(0%, -150%);
        margin-top: 20px;

    }

    .header-hello-btn {

        margin-bottom: 10px;
        margin-left: 70px;
    }

    .typing {
        font-size: 30px;
    }

    .typed-cursor {
        color: rgba(8, 42, 65, 0.64);
        font-size: 40px;
    }


    .header-quote {
        display: block;
        margin: 50px 10% 40px 10%;
        transform: translate(0%, 200%);
        text-align: justify;
    }

    .header-quote p {
        color: #092c43;
        font-size: 20px;
        font-weight: 600;

    }

    .quote-author {
        font-size: 12px;
        margin-left: 40%;
    }

    /*-------------------------- About Me --------------------------*/

    .section-about {
        margin: 20px 0px;
    }
}
