/*-------------------------- Early formatting --------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1
}

.clearfix {
    content: '.';
    clear: both;
    display: block;
    height: 0;

}


/*-------------------------- Reusable component --------------------------*/

section {
    padding: 100px 0;
    background-size: cover;
}

.btn a:link,
.btn a:visited {
    color: #fff;
    text-decoration: none;
}

btn:hover a {
    color: #fff;
}

.btn {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    padding: 6px 20px;
    font-weight: 700;
    background: #0f4c75;
    border: 1px solid #d1d1d1;
    color: #fff;
    margin-right: 15px;

}


.btn:hover,
.btn:active {
    color: rgb(255, 255, 255);
    background: #c16c17;
    border: 1px solid #fff;
    transform: scale(1.08);
    transition: transform 0.2s ease;

}


/*-------------------------- Icons --------------------------*/
.icon {
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin: 2px;
}

/*-------------------------- Headings --------------------------*/

h1 {
    font-size: 50px;
    font-weight: 500;
}

p {
    padding: 5px 0px;
    font-size: 19px;
    font-weight: 100;
    color: #dddddd;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #3282b8;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.box {
    padding: 1%;
}



/*-------------------------- Navigation  ---------------------*/

.nav-bar {
    color: #fff;
    display: none;
}

.nav-scroll {
    background: #0f4c75;
    z-index: 999;
    position: fixed;
    width: 100%;
    transition: background 0.7s ease;
}

.nav-scroll .nav-menu {
    font-size: 17px;
    list-style: none;
    margin-top: 17px;
    margin-right: 45px;
    margin-left: 170px;
    padding: 0;
}

.nav-scroll .nav-name {
    font-size: 35px;
    padding: 5px;
    margin-left: 100px;

}

.nav-name {
    font-family: 'Caveat', cursive;
    font-size: 55px;
    list-style: none;
    display: inline-block;
    padding: 30px 85px;
    color: #fff;
    border-bottom: 2px;
    text-decoration: none;
}

.nav-menu {
    float: right;
    list-style: none;
    margin-top: 55px;
    margin-right: 35px;
    margin-left: 170px;
}

.nav-menu li {
    display: inline-block;
    margin-left: 40px;

}

.nav-menu li a:link,
.nav-menu li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.nav-menu li a:hover,
.nav-menu li a:active {
    border-bottom: 2px solid #bbe1fa;
}

/*-------------------------- Header --------------------------*/



header {
    background-image: linear-gradient(rgba(7, 43, 67, 0.76), rgba(0, 0, 0, 0)), url(./img/background-svg.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}



.header-text {
    color: #fff;
    position: absolute;
    width: 1240px;
    top: 47%;
    left: 50%;
    transform: translate(-48%, -50%);
    font-size: 20px;
    font-weight: 200;
}



.header-hello-btn {
    margin-left: 0px;
    margin-bottom: 20px;
}

.typed-cursor {
    color: #c16c17;
}

.header-quote {
    margin-left: 60%;
    margin-bottom: 0px;
    margin-right: 80px;
    transform: translate(0%, 82%);
}

.header-quote p {

    color: #082a41;
    font-weight: 100;
    font-family: 'Caveat', cursive;
    font-size: 26px;
}

.quote-author {
    color: #082a41;
    font-weight: 100;
    font-family: 'Caveat', cursive;
    font-size: 25px;
    margin-left: 50%;
}

/*-------------------------- About Me --------------------------*/



.section-about {
    margin: 60px 0px;
}

.about-container {
    margin: 110px 140px;
}

.profile-pic {
    margin-right: 38px;
    padding: 2px;
    width: 25%;
    float: left;
    border: 1px solid #0f4c75;
}

.aboutme-data {
    padding: 20px 30px;
    text-align: justify;
    text-justify: inter-word;
    display: flex;
    color: #0f4c75;
}


.aboutme-btn {
    margin-left: 40px;
    margin-top: 10px;
}

.download-resume {
    
    text-decoration: none;

}

/*-------------------------- Education --------------------------*/

.section-EE {
    margin: 5px 0px;
}

.EE-container {
    display: flex;
    margin: 110px 80px 30px 80px;
    flex-direction: row;
    justify-content: space-around
}

.EE-card {
    width: 250px;
    height: auto;
}

.EE-card-up {
    background: #0f3f5f;
    margin: 0px;
    padding: 20px;
    border: 1px hidden #0f3f5f;
    border-radius: 5%;
    position: relative;
    z-index: 1;
    transform: translateY(50px);
    transition: transform 0.6s ease;
}

.EE-card-up span {
    font-size: 70px;
    padding: 15px;
}

.EE-card-up span,
.EE-card-up h3 {
    transition: transform 0.6s ease;
    color: #fff;
    opacity: 0.3;
    display: block;
    text-align: center;
    margin: 0px;
}

.EE-card-up h3 {
    font-size: 25px;
    font-weight: 100;
}


.EE-card-down {
    margin: 0px 8px 0px 8px;

}

.EE-card-down p {
    padding: 20px;
    color: #0f3f5f;
    background: #cad7de;
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    border: 1px hidden;
    border-top: 0px;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    transform: translateY(-100px);
    transition: transform 0.4s ease;
}

.EE-card-down .btn {
    margin: 10px 83px 0px 83px;
    text-align: justify;
    transform: translateY(-180px);
    transition: transform 0.5s ease;
    transition-delay: 0.1s;
}


.EE-card:hover .EE-card-up {

    transform: translateY(0px);
    transition: transform 0.6s ease;
}

.EE-card:hover .EE-card-up span,
.EE-card:hover .EE-card-up h3 {
    transition: transform 0.6s ease;
    opacity: 1;
}

.EE-card:hover .EE-card-down p {
    transition: transform 0.5s ease;
    transform: translateY(0px);
    transition-delay: 0.1s;
}

.EE-card:hover .EE-card-down .btn {
    transition: transform 0.4s ease;
    transform: translateY(0px);
}

/*-------------------------- Skills --------------------------*/

.section-skills {
    margin: 0px 0px;
}

.skill-menu {
    margin-left: 120px;
    margin-top: 190px;
    color: #0f3f5f;
}

.skill-text:first-child {
    margin-top: 30px;
}


.skill-text {
    width: 20%;
    text-align: center;
    font-size: 25px;
    list-style: none;
    font-weight: 600;
    padding: 10px;
}

.skill-text:hover {
    color: #fff;
    background: #db7a18;
    border-radius: 15px;
    transition: background 0.3s ease;
}

.skill-bio {
    color: #fff;
    background-color: #0f4c75;
    border-radius: 40px;
    padding: 70px 10px 70px 70px;
    width: 65%;
    font-size: 53px;
    transform: translate3D(310px, -240px, 0px);
}

.skill-bio .iconify {
    justify-content: space-around;
    margin-right: 30px;
    margin-bottom: 20px;
}


#skill-1:hover ~ .skill-bio .pro {
    color: #db7a18;
}

#skill-2:hover ~ .skill-bio .web {
    color: #db7a18;
}


#skill-3:hover ~ .skill-bio .ml {
    color: #db7a18;
}

#skill-4:hover ~ .skill-bio .other {
    color: #db7a18;
}

/*-------------------------- Projects --------------------------*/

.section-pro {
    display: block;
    margin: -200px 0px 00px 0px;
    padding: 100px 0px 0px 0px;
}

.project-container {
    display: flex;
    margin: 120px 80px;
    flex-direction: row;
    justify-content: space-around
}

.project-card {
    padding: 0px;
    width: 300px;
    height: 250px;
    border-radius: 4%;
    background: #0f3f5f;
}

.project-card-up {
    padding: 30px 30px 0px 30px;
    z-index: 1;
    position: relative;
}

.project-card span {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 15px;
    transition: transform 0.7s ease;
}

.project-card-title {
    font-size: 35px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    transition: transform 0.7s ease;
}


.project-card-down {
    text-align: center;
    transform: translateY(-100px);
    transition: transform 0.7s ease;
}

.project-btn-view {
    font-size: 15px;
    background: #0f3f5f;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 20%;
    display: none;

}


.project-btn-view:hover {
    color: #fff;
    border: 1px solid #fff;
}



.project-card:hover .project-card-down {
    transform: scale(1.3);
    transition: transform 0.7s ease;

}

.project-card:hover .project-card-down .project-btn-view {
    display: inline;
}

.project-card:hover .project-card-up span {
    transform: translate3d(-70px, 20px, -10px);
    transition: transform 0.7s ease;


}

.project-card:hover .project-card-up div {
    transform: translate3d(45px, -53px, -10px);
    transition: transform 0.7s ease;
}

/*-------------------------- Contact Me --------------------------*/

.section-contact {
    margin: 0px 0px 10px 0px;
    padding: 80px 0px;
    ;
}

.container-contact {
    border: 2px solid #0f4c75;
    display: flex;
    margin: 40px 120px;
    flex-direction: row;
    justify-content: space-around
}


.container-contact-left {
    padding: 40px 30px 30px 40px;
    flex-direction: column;
    width: 70%;
    flex-direction: row;
    justify-content: space-around;
}

.container-contact-left h3 {
    color: #0f4c75;
    font-size: 26px;
    margin-bottom: 35px;
}

.container-contact-left h3 .icon {
    float: right;
    margin-right: 80px;
    font-size: 45px;
}

.container-contact-form label {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
}

input,
textarea {
    width: 500px;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    margin-top: 10px;
}


textarea {
    height: 100px;
    padding-top: 10px;
}

.container-contact-form .btn {
    width: 100px;
    margin-top: 15px;
    cursor: pointer;
}

.container-contact-right {
    padding: 40px 30px 30px 40px;
    background: #0f4c75;
    flex-direction: column;
    width: 30%;
    flex-direction: row;
    justify-content: space-around
}

.container-contact-right h3 {
    font-size: 26px;
    color: rgb(221, 142, 63);
}

.contact-info {
    margin-top: 40px;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
}

.contact-info .icon {
    margin-right: 10px;
}


.contact-social {
    display: flex;
    color: #fff;
    margin-top: 170px;
    font-size: 30px;
    padding: 5px;
    flex-flow: row;
    justify-content: space-between;
}

.contact-social .iconify {
    font-size: 35px;
    color: #fff;
}

.contact-social .iconify:hover {
    color: #db7a18;
    ;
}

/*-------------------------- Footer --------------------------*/

.footer-container {
    background: #072b43;
    display: flex;
}

.footer-menu {
    margin: 5px 250px 5px 150px;
    font-size: 15px;

}

.footer-menu ul li {
    margin: 0px 10px;
    list-style: none;
}

.footer-menu ul li a:hover {
    color: #db7a18;
}

.footer-nav {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.footer-nav li a {
    color: #fff;
    text-decoration: none;
}

.footer-cc p {
    float: right;
    font-size: 15px;
}
